# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# User-specific configurations
.idea/*
# Gradle files
.gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

#studio specific
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.ipr
*~
*.swp
/app/build/release/app-release.apk
/app/release/
/app/build/output/apk/debug/app-dubug.apk

# IntelliJ IDEA
*.iml
*.iws
/out/

# OS-specific files
.DS_Store


