*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/src/main/res/drawable/doggo.jpg
.externalNativeBuild
/app/build/output/apk/debug/app-dubug.apk
